* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  height: 100vh;
  background-image: linear-gradient(to right, #4daf54, #3d8880);
  overflow: hidden;
}

.All {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  width: 350px;
  height: 550px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.router {
  overflow-y: scroll;
}

input {
  border-width: 0px;
  border-color: #fff;
  border-style: none;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #ffecb3 !important;
  border-radius: 4px !important;
}

.hover {
  background-color: rgba(245, 124, 0, 0.04) !important;
  border: 1px solid #f57c00 !important;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #888;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.MuiTabs-root {
  min-height: 10px !important;
}

.MuiTab-root {
  min-height: 10px !important;
  padding: 10px 10px 5px !important;
  font-size: 10px !important;
  font-weight: 600 !important;
}

.pie-chart-custom {
  height: 150px !important;
}
